#container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#liste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button{
  background-color: #6d707e;
  width: 25vw;
  height: 8vh;
  color: #ffffff;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover {
  background-color: #525560;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px) scale(1.1);
}

.deco-bouton {
  border: 0.2vw solid white;
  width: 24vw;
  padding: 2vh 0;
}
