<ng-container>
    @if (dataSource) {
        <div id="onglet">
            <div class="bouton" [class.actif]="ongletActif === 'liste'" (click)="changerOnglet('liste')">
                La liste
            </div>
            <div class="bouton" [class.actif]="ongletActif === 'graphiques'" (click)="changerOnglet('graphiques')">
                Les graphiques
            </div>
            <!--<div class="bouton" [class.actif]="ongletActif === 'graphiques'" (click)="changerOnglet('graphiques'); generer_grapheO()">
                Les graphiques
            </div>-->
        </div>
        <h2>La liste des relevés du {{ this.serviceChoisi }}</h2>
        <div id="filtre">
            <div style="display: flex; flex-direction: column; gap: 1vh;">
                <div style="gap: 1vw; display: flex; flex-direction: row; align-items: center; justify-content: center">
                    <span>Du</span>
                    <input class="date" type="date" [(ngModel)]="dateDebut"/>
                    <span>au</span>
                    <input class="date" type="date" [(ngModel)]="dateFin"/>
                </div>
                <button mat-button (click)="chercher_releves_date()">Chercher les relevés à cette date</button>
            </div>
            @if(ongletActif === 'liste') {
                <div style="display: flex; flex-direction: column; gap: 1vh">
                    <button id="btn_dispo" mat-button (click)="toggleActive($event); filterParStatus(true)">Disponible</button>
                    <button id="btn_indispo" mat-button (click)="toggleActive($event); filterParStatus(false)">Indisponible</button>
                </div>
            }
            <div>
                <button mat-button (click)="arreterFiltrage()">Arrêt du filtrage</button>
            </div>
        </div>

        <!-- [hidden] conserve les éléments mais les masque visuellement quand je change de section-->
        <section [hidden]="ongletActif !== 'liste'">
            <div id="liste">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="datetime">
                        <th mat-header-cell *matHeaderCellDef>
                            <span style="cursor: pointer;" (click)="trierDatetime()">Date et l'Heure</span>
                            @switch (sortState) {
                                @case ('datetime_asc') {
                                    <mat-icon>arrow_drop_downward</mat-icon>
                                }
                                @case ('datetime_desc') {
                                    <mat-icon>arrow_drop_upward</mat-icon>
                                }
                            }
                        </th>
                        <td mat-cell *matCellDef="let element"> {{ formatDate(element.datetime) }}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Etat</th>
                        <td mat-cell *matCellDef="let element">
                            @if(element.status) {
                                <span style="color: green">
                                    {{ formatStatus(element.status) }}
                                </span>
                            } @else {
                                <span style="color: red">
                                    {{ formatStatus(element.status) }}
                                </span>
                            }
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </section>
        <!-- [hidden] conserve les éléments mais les masque visuellement quand je change de section-->
        <section [hidden]="ongletActif !== 'graphiques'">
            <div id="graphe">
                <div class="chart-container">
                    <canvas id="doughnut-chart"></canvas>
                </div>
                @if(this.dateDebut && !this.dateFin){
                    <div class="chart-container">
                        <canvas id="okko-chart"></canvas>
                    </div>
                }
            </div>
        </section>
    }

</ng-container>
