<header class="main-header">
  <mat-toolbar class="toolbar" color="primary">
    <div class="header-container">

      <button [routerLink]="['/home']" aria-label="home" mat-button routerLinkActive="mat-accent">
        <div class="logo-container">
          <span id="logo">GenMonitoring</span>
        </div>
      </button>



      <div class="right-links">
        @if (!authService.isLoggedIn()) {
          <button mat-button [routerLink]="['/login']" routerLinkActive="active-link">
            <mat-icon>login</mat-icon>
            Connexion
          </button>
          <button mat-button [routerLink]="['/register']" routerLinkActive="active-link">
            <mat-icon>person_add</mat-icon>
            Inscription
          </button>
        } @else {
          <button mat-button routerLinkActive="mat-accent" aria-label="List icon">
            <mat-icon>account_circle</mat-icon>
            Mon compte
          </button>
          <button mat-button (click)="authService.logout()" routerLinkActive="active-link">
            <mat-icon>logout</mat-icon>
            Se déconnecter
          </button>
        }
      </div>
    </div>
  </mat-toolbar>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
