<ng-container>
  <h2>Liste des départements</h2>
  <ul>
    <li>
      {{ departement1.id }} - {{ departement1.nom }}
      <input type="checkbox" [(ngModel)]="departement1.coche">
    </li>
    <li>
      {{ departement2.id }} - {{ departement2.nom }}
      <input type="checkbox" [(ngModel)]="departement2.coche">
    </li>
    <li>
      {{ departement3.id }} - {{ departement3.nom }}
      <input type="checkbox" [(ngModel)]="departement3.coche">
    </li>
    <li>
      {{ departement4.id }} - {{ departement4.nom }}
      <input type="checkbox" [(ngModel)]="departement4.coche">
    </li>
    <li>
      {{ departement5.id }} - {{ departement5.nom }}
      <input type="checkbox" [(ngModel)]="departement5.coche">
    </li>
  </ul>

  <div>
    <input type="date" [(ngModel)]="date" placeholder="Choisissez la date" />
    <button mat-button (click)="generer_graphe()">Générer le graphe</button>
      <mat-form-field>
        <mat-label>Choisissez le type de graphe</mat-label>
        <mat-select [(ngModel)]="selectionne">
          <mat-option value="line">Avec des courbes</mat-option>
          <mat-option value="bar">Avec des bâtons</mat-option>
          <mat-option value="doughnut">Doughnut</mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <div id="graphe">
    <canvas id="line-chart"></canvas>
    <canvas id="bar-chart"></canvas>
    <canvas id="doughnut-chart"></canvas>
  </div>

</ng-container>
