<ng-container>
  <h2>Liste des départements</h2>
  <ul>
    <li>{{ departement1.id }} - {{ departement1.nom }}</li>
    <li>{{ departement2.id }} - {{ departement2.nom }}</li>
    <li>{{ departement3.id }} - {{ departement3.nom }}</li>
    <li>{{ departement4.id }} - {{ departement4.nom }}</li>
    <li>{{ departement5.id }} - {{ departement5.nom }}</li>
  </ul>

  <h3>Welcome to Chart Ng</h3>
  <canvas id="line-chart"></canvas>
  <canvas id="bar-chart"></canvas>
  <canvas id="doughnut-chart"></canvas>
</ng-container>
